_format_version: "3.0"

services:
  - name: wajooba-api
    url: https://api.wajooba.me
    connect_timeout: 30000
    write_timeout: 30000
    read_timeout: 30000

routes:
  - name: catch-all-route
    service: wajooba-api
    paths: 
      - "/"
    methods:
      - GET
      - POST
      - PUT
      - DELETE
      - PATCH
      - OPTIONS
    strip_path: false