_format_version: "3.0"

services:
  - name: gcp-api-backend
    url: https://api.wajooba.me
    connect_timeout: 30000
    write_timeout: 30000
    read_timeout: 30000

routes:
  - name: snode-route
    service: gcp-api-backend
    paths:
      - "/snode/"
    methods:
      - GET
      - POST
      - PUT
      - DELETE
      - PATCH
      - OPTIONS
    strip_path: false